.landing-bg {
    background-color: #1a294f;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-Y: scroll;
}

.landing-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-bottom: 3.5vh;
}

.label {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.input {
    width: 100%;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.landing-btn {
    padding: 1.5rem 3rem;
    border-radius: 5px;
    border-color: #cbdbec;
    background-color: #cbdbec;
    font-size: 1.5rem;
    margin-bottom: 3.5vh;
}

.landing-btn:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 3.5vh;
    margin-top: 2%;
}

@media screen and (max-width: 780px) {
    .logo {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        width: 420px;
    }
    .landing-form {
        width: 85%;
    }
    .landing-btn {
        padding: 1rem 2.5rem; 
    }
}

@media screen and (max-width: 420px) {
    .logo {
        width: 350px;
    }
}